h1{
    font-family: 'Vollkorn', serif;

}

h2{
    font-family: 'Vollkorn', serif;
    
}

h3{
    font-family: 'Vollkorn', serif;
}

h4{
    font-family: 'Vollkorn', serif;
}

body{
    background-image: url(Images/white_feather.png);
}